@import "../../../sass/variables.scss";

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 250ms opacity linear 250ms, 1ms z-index linear 500ms;

    &::before {
    	content: '';
    	display: block;
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 0;
	    height: 24px;
    	background-color: #999999;
    }

    &--loading {
        &::before {
		    animation-name: loading;
		    animation-duration: 3s;
		    animation-timing-function: ease-out;
	    }
    }

    &--loaded {
        opacity: 0;
        z-index: 0;

        &::before {
	   		width: 100%;
   			transition: 250ms width ease-in;
	    }
    }

    @keyframes loading {
    	0% {
    		width: 0%;
    	}
    	100% {
    		width: 90%;
    	}
    }
}
