.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 640px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 64px;
    background-color: black;
    overflow: hidden;
}

.hero .grid {
    position: relative;
    height: 100%;
    align-items: center;
}

.hero .image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .image img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.25;
}

.hero .hero-intro p {
    color: white;
    font-size: 2.2rem;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .hero {
        border-bottom: 0;
        padding-top: 64px;
    }
}
